.Header{
    padding: 1em;
    background: #0b0c10;
    color: #c5c6c7;
    position: fixed;
    top: 0;
    width: 100%;
    font-size:medium;
    z-index: 10;
  }
  
  .HeaderLinks{
    list-style-type: none;
    padding: 0 3em;
    margin: 0;
    float: right;
  }
  
  li{
    display: inline;
    padding:0.5em
  }
  
  li:hover{
    background:#1f2833;
    cursor: pointer;
  }

  img{
      float: left;
      width: 25px;
      height:25px;
  }

  .ProgressContainer{
    width: 100%;
    z-index: 10;
    color: #45A29E;
  }

  .ProgressBar{
    width:0%;
    z-index:15;
    color:#66FCF1;
  }

